<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="uploads/file-4-1611411715133.jpg">
    <a href="uploads/file-4-1611411715133.jpg" download>Download</a>
  </body>
</html>
